/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Navbar styles */
.navbar {
    background-color: #007bff;
    padding: 10px 20px;
}

/* Form styles */
#city-form {
    display: flex;
    align-items: center;
}

/* Input field styles */
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

/* Button styles */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Button hover effect */
button:hover {
    background-color: #0056b3;
    color: #fff;
}

/* Search history styles */
.search-history {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 20px;
}


/* Main content styles */
main {
    padding: 20px;
}

/* Weather display container styles */
#current-weather, #forecast {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Forecast container styles */
#forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Individual forecast item styles */
.forecast-item {
    flex-basis: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

/* City name styles */
.city {
    cursor: pointer;
    text-align: center; /* Center city names */
}

